
body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    
    background-color: transparent;
}


#container {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

#text-field {
    width: 100vw;
    height: 100vh;
    
    margin: 0;
    
    outline: none;

    box-sizing: border-box;
    border: 1px solid black;

    background-color: transparent;

    text-align: center;

    font-family: Segoe UI;
    font-size: medium;
    color: black;

    resize: none;
    box-sizing: border-box;
}
